*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.App {
  font-family: sans-serif;
  background-attachment: fixed;
}
Header{
  height:70px;
  background-color: blue;
}
Header h1{
color: white;
padding: 14px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
letter-spacing: 1.2px
}
Footer{
  position: fixed;
  bottom: 0;
right:0;
left:0;
height:70px;
background-color: black;
padding: 1px;
}
Footer p{
color:rgba(255, 255, 255);
font-size: 14px;
text-align: center;
margin:20px 0;
letter-spacing: 1.5px
}
.note{
  background: rgba(255, 255, 255, 0.733);
border-radius: 7px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
padding: 10px;
width: 250px;
margin: 20px;
float: left;

}
.note h2{
  font-size: 1.1em;
  margin-bottom: 7px
}